body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

li {
    list-style-type: none;
}

.first_block {
    font-size: 9.5pt;
    float: right;
    margin: 4px;
    padding: 4px;
}

.first_class_list {
    display: inline-block;    
    margin: 0 5px;
}

.class_button_sign {
    background-color: #1E90FF;
    color: white;    
    border-radius: 5px;
    padding: 10px;
}

.second_block {
    text-align: center;
    padding: 145px 0 0 0;    
}

#search_form {
    margin: 25px 0 30px 0;
    border-radius: 25px;    
    padding: 12px;    
    border: 1px solid #D8D8D8;    
}

#search_form:hover{
    border: 2px solid #D8D8D8;
}

.second_block_button {
    margin: 0 4px 12px 4px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #D8D8D8;    
}

.second_block_button:hover {
    border: 2px solid #D8D8D8;
}

#google_text {
    font-size: 10pt;
}

.third_block {
    margin: 130px 0 0 0; 
    background-color: #f2f2f2;
    padding: 1px 0 0 0;        
}

.first_footer {    
    float: left;           
}

.second_footer1 {
    display: inline-block;
    float: left;    
    font-size: 9.5pt;    
    padding: 10px;    
}

.second_footer2 {
    display: inline-block;
    float: right;    
    font-size: 9.5pt;    
    padding: 10px;       
}